<%- include('../partials/header')%>
<div class='border-line'>
<div class="btn-group" id="groupButton">
  <form method="POST"  style="padding-right:20px"  action="/cohorts/<%= post.id%>">
        <input type="hidden" name="id" value="<%=post.id%>"/>
        <input type="hidden" name="_method"value="Delete" />
        <input type="submit" class="btn btn-outline-danger" value="Delete"/>
  </form>

 <a class="btn btn-outline-success" href="/cohorts/<%=post.id %>/edit">Edit</a>
</div>

<form action ="/cohorts/assign" method="POST" class="form-horizontal"> 
          
      <div class='card mb-4'>
          <input type= 'hidden' name= 'id' value='<%=post.id%>'/>
          <div class='card-body'>
              <% if(post.logoUrl){%>
                  <img class="rounded-circle"id='logoSize' name='logo_url' type='url' class='card-img-top' src="<%=post.logoUrl%>"/>
              <% } %>  
          
              <span class="card-title"type='text' name='name'><%= post.name %> </span>
              <p class="card-text">
                  <%= post.members  %> 
              </p>

              <hr>

              <p class="card-title"><u>Method</u></p>
               
              <div class="form-check">
                  <%if(post.method==='teamCount') {%>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="teamCount" checked/> 
                  <% }else {%>

                  <br/> 

                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="teamCount"> 
                  <% } %>
                 <label class="form-check-label" for="exampleRadios1"> Team Count </label>
              </div>

              <div class="form-check">
                  <%if(post.method==='numberPerTeam') {%>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="numberPerTeam" checked/>
                
                  <% }else {%>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="numberPerTeam"/>
                  <% } %>
                   <label class="form-check-label" for="exampleRadios2"> Number Per Team  </label>   
              </div>
 
              <br>

              <div>
                  <label for="text"><u>Quantity</u></label>
                  <% if(post.quantity) {%>
                    <input name="quantity" type="text" class="form-control" id="quantity" value="<%=post.quantity%>"/>
                  <% }else {%>
                    <input name="quantity" type="text" class="form-control" id="quantity">
 
                  <%}%>
              </div>

              <br>

              <div>
                 <button type="submit" class="btn btn-outline-primary btn-block">Assign Teams</button>
              </div>

          </div>
   
      </div>              
</form>

<% if(post.teams){%>
    <% let i = 1 %>
      <% for (let team of post.teams) { %>

        <p class="card-text">
          <b><%= i  %></b> &nbsp <%= team.substr(0, team.length-2)%> 
        </p>

        <hr>

        <% i=i+1 %>
      <% } %>
<% }%>

</div>
<%- include('../partials/footer')%>